footer
  nav.footer-nav
    li: a(href="index.html") Home
    li: a(href="portfolio.html") Portfolio
    li: a(href="assets/images/ModelCompCard_Janey.pdf") Download Specs
    li: a(href="contact.html") Contact  
  ©2016 Janey Hann. All Rights Reserved.
