doctype html
html(lang="en")
  head
    title Janey Hann Los Angelos Commercial Model 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="Janey Hann Los Angelos Commercial Model")
    meta(name="keywords", content="Janey Hann, Los Angelos Commercial Model, Commercial Model ")
    link(href="assets/css/main.css", rel="stylesheet" media="screen")

  body
    include assets/includes/overlay
    .opacity-morph
    section.col-container  
      section.col-1
        nav.main-nav-toggle
          span
          .nav-title MENU
          
        article.name-card
          h2 Commercial Model
          h1 Janey <br>Hann
          
          include assets/includes/stats
            
      section.col-2
        article.slider-header
          ul.bxslider
            figure
              a.fancybox(href="assets/images/internal-slider/Janey-Hann-Portfolio-01.jpg", rel="Internal Slider", title=" Photographor: Daria Roundtree")
                img(src="assets/images/internal-slider/Janey-Hann-Portfolio-01.jpg")
              figcaption Photographer Daria Roundtree with model, Janey Hann
            figure
              a.fancybox(href="assets/images/internal-slider/Janey-Hann-Portfolio-02.jpg", rel="Internal Slider", title="Oravo. Photographor: Joe Adea")
                img(src="assets/images/internal-slider/Janey-Hann-Portfolio-02.jpg")
              figcaption Photographer Joe Adea with model, Janey Hann
            figure
              a.fancybox(href="assets/images/internal-slider/Janey-Hann-Portfolio-03.jpg", rel="Internal Slider", title="Oravo. Photographor: Joe Adea")
                img(src="assets/images/internal-slider/Janey-Hann-Portfolio-03.jpg")
              figcaption Photographer Joe Adea with model, Janey Hann

        
    .model-gallery
      .row
        figure.four.columns
          a.fancybox(href="assets/images/model-gallery/Janey-Hann-01.jpg", rel="Emma n Oliva", title="Emma n Oliva. Photographor: Shawn Lee")
            img(src="assets/images/model-gallery/Janey-Hann-01t.jpg")
        figure.four.columns
          a.fancybox(href="assets/images/model-gallery/Janey-Hann-02.jpg", rel="Emma n Oliva", title="Emma n Oliva. Photographor: Shawn Lee")
            img(src="assets/images/model-gallery/Janey-Hann-02t.jpg")
        figure.four.columns
          a.fancybox(href="assets/images/model-gallery/Janey-Hann-03.jpg", rel="Emma n Oliva", title="Emma n Oliva. Photographor: Shawn Lee")
            img(src="assets/images/model-gallery/Janey-Hann-03t.jpg")
        .clearfix
      .row
        figure.four.columns
          a.fancybox(href="assets/images/model-gallery/Janey-Hann-04.jpg", rel="Wholesale Clothing Factory", title="Wholesale Clothing Factory. Photographer: Carlo Parducho")
            img(src="assets/images/model-gallery/Janey-Hann-04t.jpg")
        figure.four.columns
          a.fancybox(href="assets/images/model-gallery/Janey-Hann-05.jpg", rel="Wholesale Clothing Factory", title="Wholesale Clothing Factory. Photographer: Carlo Parducho")
            img(src="assets/images/model-gallery/Janey-Hann-05t.jpg")
        figure.four.columns
          a.fancybox(href="assets/images/model-gallery/Janey-Hann-06.jpg", rel="Wholesale Clothing Factory", title="Wholesale Clothing Factory. Photographer: Carlo Parducho")
            img(src="assets/images/model-gallery/Janey-Hann-06t.jpg")
        .clearfix      
      .row
        figure.four.columns
          a.fancybox(href="assets/images/model-gallery/Janey-Hann-07.jpg", rel="Wholesale Clothing Factory", title="Wholesale Clothing Factory. Photographer: Carlo Parducho")
            img(src="assets/images/model-gallery/Janey-Hann-07t.jpg")
        figure.four.columns
          a.fancybox(href="assets/images/model-gallery/Janey-Hann-08.jpg", rel="Wholesale Clothing Factory", title="Wholesale Clothing Factory. Photographer: Carlo Parducho")
            img(src="assets/images/model-gallery/Janey-Hann-08t.jpg")
        figure.four.columns
          a.fancybox(href="assets/images/model-gallery/Janey-Hann-09.jpg", rel="Wholesale Clothing Factory", title="Wholesale Clothing Factory. Photographer: Carlo Parducho")
            img(src="assets/images/model-gallery/Janey-Hann-09t.jpg")
        .clearfix  
      .row
        figure.four.columns
          a.fancybox(href="assets/images/model-gallery/Janey-Hann-10.jpg", rel="Wholesale Clothing Factory", title="Wholesale Clothing Factory. Photographer: Carlo Parducho")
            img(src="assets/images/model-gallery/Janey-Hann-10t.jpg")
        figure.four.columns
          a.fancybox(href="assets/images/model-gallery/Janey-Hann-11.jpg", rel="Wholesale Clothing Factory", title="Wholesale Clothing Factory. Photographer: Carlo Parducho")
            img(src="assets/images/model-gallery/Janey-Hann-11t.jpg")
        figure.four.columns
          a.fancybox(href="assets/images/model-gallery/Janey-Hann-12.jpg", rel="Wholesale Clothing Factory", title="Wholesale Clothing Factory. Photographer: Carlo Parducho")
            img(src="assets/images/model-gallery/Janey-Hann-12t.jpg")
        .clearfix      

      .row
        figure.four.columns
          a.fancybox(href="assets/images/model-gallery/Janey-Hann-13.jpg", rel="Emma n Oliva", title="Emma n Oliva. Photographer: Shawn Lee")
            img(src="assets/images/model-gallery/Janey-Hann-13t.jpg")
        figure.four.columns
          a.fancybox(href="assets/images/model-gallery/Janey-Hann-14.jpg", rel="Emma n Oliva", title="Emma n Oliva. Photographer: Shawn Lee")
            img(src="assets/images/model-gallery/Janey-Hann-14t.jpg")
        figure.four.columns
          a.fancybox(href="assets/images/model-gallery/Janey-Hann-15.jpg", rel="Emma n Oliva", title="Emma n Oliva. Photographer: Shawn Lee")
            img(src="assets/images/model-gallery/Janey-Hann-15t.jpg")
        .clearfix    
  
      .row
        figure.four.columns
          a.fancybox(href="assets/images/model-gallery/Janey-Hann-16.jpg", rel="Wicked LA", title="Wicked LA. Photographer: Neesh")
            img(src="assets/images/model-gallery/Janey-Hann-16t.jpg")
        figure.four.columns
          a.fancybox(href="assets/images/model-gallery/Janey-Hann-17.jpg", rel="Wicked LA", title="Wicked LA. Photographer: Neesh")
            img(src="assets/images/model-gallery/Janey-Hann-17t.jpg")
        figure.four.columns
          a.fancybox(href="assets/images/model-gallery/Janey-Hann-18.jpg", rel="Wicked LA", title="Wicked LA. Photographer: Neesh")
            img(src="assets/images/model-gallery/Janey-Hann-18t.jpg")
        .clearfix                     
    include assets/includes/footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="assets/js/functions.js")
    script(src="assets/js/bxslider.js")
    script(src="assets/js/jquery.fancybox.pack.js")


 
